
main {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* position: absolute; */
  /* left:50%; */
  /* transform: translate(-50%); */
  /* display: inline-block; */
}


h1, h2, h3 {
  padding:40px 0px;
}

.story-link {
  style: none;
  font-size: 1.1em;
  color: rgb(31, 31, 49);
}

.alerts {
  margin:0px;
}

.story-link:hover {
  color:rgb(79, 84, 103);
}
.submit, #randomizePrompt, #newStoryBtn {
  margin: 12px 6px;
}

.story-link-div {
  margin: 5% 1%;
}

textarea, select, input {
    background-color: transparent;
    /* border-radius: 16px; */
    width: 100%;
    padding: 18px 5px;;
    border: 0px solid #424242;
    border-bottom: 1px solid black;
}

#newStoryBtn {
  margin: 30px;
  /* background-color: red; */
}

.story-index-container {
  max-width: 80%;
  padding: 3%;
  /* justify-items: center; */
}

textarea:focus, select:focus, input:focus {
  outline: none;
}
textarea {
  font-size: 1.2em;
  /* padding: 5%; */
}

.contact-div {
  padding: 30px;
}

#story, .story {
  padding: 5% 1%;
}

button {
    padding: 10px 10px;
    font-size: 16px;
}

.assistant {
  overflow: hidden;
  color: rgb(0, 0, 120);

}
.user {

  color: rgb(120, 0, 0);
}
