

{% extends 'base.html'%}
    {% block home %}
        <div class="starter">
            <h1>Write Together</h1>
        </div>
        
        {# Story Context Form #}
        <div class="storyContext" id="contextDiv">
        <form action="" method="GET" id="contextForm">
            <div class="mb-3">
                {{contextForm.genre.label(class_='form-label')}}
                {{contextForm.genre(class_='form-control')}}
                <small class="form-text">{% for err in contextForm.genre.errors %} {{err}} {% endfor %}
                </small>
            </div>
            <div class="mb-3">
                {{contextForm.story_prompt.label(class_='form-label')}} <button id="randomizePrompt" class="btn btn-secondary">Randomize</button>
                <div>{{contextForm.story_prompt(class_='form-control', rows_='2')}}
                <small class="form-text">{% for err in contextForm.genre.errors %} {{err}} {% endfor %}
                </div>
                
                
                </small>
            </div>
            <button id="submit" class="btn btn-primary" >Start Writing</button>
            </div>
        </form>
        </div>

        {# Story submission form #}
        <div class="container" id="contribuionSection">
        </div>
       
        {# End submission form #}
        {% endblock %}