{% extends 'base.html' %}

{% block title %}{{story.story_prompt}}{% endblock %}
{% block content %}



<div class="container">

    <div class="container col-md-8 story">
        {% if story.title%}
            <h2 class="display-3">{{story.title}}</h2>
        {% endif %}
        {% if story.user_id == user.id %}
            <a href={{ url_for( 'render_story_edit', story_id=story.id) }}>Edit title</a>
        {% endif %}

        <p>A <strong>{{ story.genre }}</strong> story by <span class="user">
        {% for user in story.user%}
            {{user.username }}
        {% endfor %}
        </span>

        <p><span class="storyPromptHeadline">{{ story.story_prompt }} </span>
        {% for contribution in story.contributions %}
            <span class="{{ contribution.role }}">{{contribution.content}}</span>
            {% endfor %}</p>
        {% if story.user_id == user.id %}
        <div class="container"><a class="story-link" href={{url_for('render_home', story_id=story.id)}}>Continue writing this story</a> </div>{% endif %}
    </div>
</div>

{% endblock %}