{% extends 'base.html'%}
{% block title %}AI Cowriter {% endblock %}


{% block content %}

<div class="container text-center">
  <h1 class="display-4">Co-write a story with AI</h1>
</div>

<div class="row align-items-center">

        {# NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE #}
        
      {% if not story %}
<div class="context-form">
  <div class="container col-md-5 mx-auto">
          <div class="text-center"> <p>Choose a genre and starting story prompt.</p>
          <p>Take turns writing the story with an AI co-writer.</p></div>
      <div class="storyContext container-fluid mx-auto" id="contextDiv">
        
        

      <form action="" method="POST" id="contextform">
          {% for err in context_form.errors %} {{err}} {% endfor %}
          <div class="container text-center">
              {{context_form.hidden_tag()}}
              <div class="col text-center">
                <button id="randomizePrompt" type="button" class="btn btn-outline-secondary">Randomize genre and prompt</button>
              </div>

            {#  Genre  #}
          <div class="form mb-3 text-center">
              {{context_form.genre(class_='')}} 
          </div>

            {#  Prompt #}
            <div class="form mb-3 text-center">
              <div>{{context_form.story_prompt(class_='', rows_='2')}}
              {% for err in context_form.story_prompt.errors %}<small class="form-text">{{err}}</small>{% endfor %}
              </div> 
            </div>
          
          {#  randomize and submit buttons #}
          <div class="container">
            <div class="row justify-content-center">

              <div class="col">
                <div class="container"><button id="contextSubmit" class="btn btn-outline-primary btn-lg submit">Start Writing</button>
                </div>

              </div>

            </div>

            <div class="row">
              
            </div>
          </div>
        
         </div>
         </form>

      {% else %}
{# Story submission form #}
<div class="container contribution-form">
  
    {# Story starts here #}
    <div id="story" class="col-md-8 mx-auto">

      {% if story.title %} <h2>{{story.title}}</h2>{% endif%}
      <p id="storyGenreHeadline">{% if story.genre %} {{story.genre}} {% endif %} Story</p>
      <span id="storyPromptHeadline">{% if story %}{{ story.story_prompt }}{% endif %}</span>
  
      {% for contribution in story.contributions %}
          <span class="{{contribution['role']}}">{{contribution['content']}}</span>
          {% endfor %}
        <div class="typing-message" id="typing-message" style="display: none;">
          <span class="typing-dots"></span>
          <span class="typing-dots"></span>
          <span class="typing-dots"></span>
        </div>
    </div>
  {# End of Story #}

{# story form #}
  <div class="container col-md-6 mx-auto">
    <form action="" method="POST" id="inputForm">
      {{ story_form.hidden_tag() }} {{ story_form.story_id }}
      
      <div class="container">
      <div class="form-group mb-3">
        <small id="turn-notice">Write more to this story or skip your turn.</small>
        {{story_form.body(class_='contribution-area', rows_='3')}}
        {# {{form.body.label(class_='form-label')}} #}
      </div>
      
      </div>



        <small class="form-text"
          >{% for err in story_form.body.errors %} {{err}} {% endfor %}
        </small>
    
  
  
      <div class="container text-center">
        <button id="storySubmit" class="btn btn-primary btn-lg submit">Add</button>
        <button id="skipTurn" class="btn btn-outline-primary btn-md skip-turn">Skip</button>
      </div>
    </form>
  </div>
{# End story form #}

<div class="container text-center restart-btn">
<div class="row"><div class="col">
<!-- NEW STORY BUTTON -->
<button class="btn btn-outline-secondary" id="newStoryBtn">Start Over</button>
</div>
      <!-- Sign in link -->
      {% if not user%}
      <p>
        <a href="/sign-in">Sign in</a> to save this story.
      </p>
        {% else %}
        <p>Story is saved automatically.</p>
      {% endif %}
</div>
</div>



</div>
{#  End contribution section #}


      {% endif %}






        {# NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE NEW CODE #}

      </div>
  </div>
</div>


  




</div>


{% endblock %}